@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
:root {
  --cor1: #0a0a0a;
  --cor2: #1c1c1c;
  --cor3: #2e2e2e;
  --cor4: #c0c0c0;
  --cor5: #f2f2f2;
  --cor6: #eaeaea;

  --font-destaque: "Bebas Neue", cursive;
  --font-padrão: Arial, Verdana, Helvetica, Sans-Serif;
  --font-titulos: Orbitron;
}
* {
  margin: 0;
}
body {
  font-family: var(--font-padrão);
  margin: 0;
  background-color: var(--cor4);
}

header {
  background-image: linear-gradient(to top, var(--cor2), var(--cor3));
  padding: 1px 0 50px 0;
  text-align: center;
  margin: 0 0 0 0;
}

header > h1 {
  font-family: var(--font-destaque);
  color: white;
  font-weight: normal;
  font-size: 2.5em;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.493);
  margin-top: 20px;
  padding: 0 10px;
}

header > p {
  color: white;
  font-weight: bold;
  padding: 20px 0 0 0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.493);
  text-align: center;
}

nav {
  background-image: linear-gradient(to top, var(--cor1), var(--cor2));
  padding: 5px 0;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.315);
}
nav > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 3px 5px;
  transition-duration: 0.5s;
  margin-left: 10px;
}
nav > a:hover {
  background-color: var(--cor4);
  border-radius: 5px;
  text-decoration: underline;
  color: black;
}

main {
  background-color: var(--cor5);
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.651);
}


main p {
  text-align: justify;
}

main h2.titulo {
  font-size: 2.1em;
  font-family: var(--font-titulos);
}
main h2 {
  font-family: var(--font-titulos);
}

main h3 {
  font-family: var(--font-titulos);
}

main p {
  line-height: 30px;
  text-indent: 30px;
}
main p.subtítulo {
  color: var(--cor3);
  font-weight: bold;
  font-size: 0.8em;
}

main img {
  width: 100%;
  margin: auto;
  display: block;
}

main a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition-duration: 0.5s;
}
main a:hover {
  text-decoration: underline;
  background-color: var(--cor1);
  color: white;
}
main a::after {
  content: "\1F517";
}

main strong { 
  border-radius: 5px;
  padding: 3px 3px;
  transition-duration: 1s;
  background-color: var(--cor4);
  color: var(--cor1);
}

main article {
  margin-bottom: 20px;
}

div.descricao-imagens > p {
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 10px;
  
}

div#empresa-apple {
  background-color: black;
  padding: 20px;
  margin: 10px -20px 0 -20px;
}
div#empresa-apple img {
  border-radius: 12px;
}

div.fundadores {
  max-width: 500px;
  margin: 10px auto 0px;
}
div.fundadores img {
  max-width: 400px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.452);
  padding: 0 10px;
  background-color: black;
  border-radius: 5px;
  transition-duration: 0.5s;
}
.fundadores:hover img {
  padding: 0 15px;
}

div.garagem {
  background-color: black;
  padding: 10px 10px;
  margin: 10px -20px 0px -20px;
}
div.garagem img {
  max-width: 700px;
  border-radius: 10px;
}

div.ronald-jovem {
  max-width: 500px;
  margin: auto;
}
div.ronald-jovem img {
  margin: auto;
  max-width: 450px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.452);
  padding: 0 10px;
  background-color: black;
  border-radius: 5px;
  transition-duration: 0.5s;
}
.ronald-jovem:hover img {
  padding: 0 15px;
}

div.jobs-jovem {
  max-width: 500px;
  margin: auto;
}
div.jobs-jovem img {
  max-width: 450px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.452);
  padding: 0 10px;
  background-color: black;
  border-radius: 5px;
  transition-duration: 0.5s;
}
.jobs-jovem:hover img {
  padding: 0 15px;
}

div#primeiro-logo {
  max-width: 200px;
  margin: 20px auto 0;
}
div#segundo-logo {
  max-width: 250px;
  margin: 20px auto 0;
}
div#atual-logo {
  max-width: 200px;
  margin: 20px auto 0;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  margin: 30px 0 0 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.651);
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
footer a:hover {
  text-decoration: underline;
}
